/*Important*/
li{
    list-style-type: none;
}

a{
    list-style-type: none;
    text-decoration: none;
}

.container{
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container1 {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
}

.list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Header */

.border-header{
    border-bottom: 1px solid #ECECEC;
}



.header{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: start;
}

.span-logo1{
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
}

.span-logo2{
    color: #000000;
    font-family: Oleo Script;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-right: 93px;
}

.main-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.site-nav{
    display: flex;
}

.site-nav-item,
.nav-contacts-item{
    margin-right: 50px;
}

.site-nav-item:last-child,
.nav-contacts-item:last-child{
    margin-right: 0;
}

.nav-links{
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;    
}


.nav-links:hover{
    color: #2196F3;
}

.active{
    color: #2196F3;
}

.nav-contacts{
    display: flex;
}

.phone-and-email{
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;    
}

.phone-and-email:hover{
    color: #2196F3;
}

/*MAIN 1st section*/

.hero{
    display: flex;
    text-align: center;
    background-color: #2F303A;
}

.container-with-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    text-align: center;
}


.main-text-for-site {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    margin: 0 0 30px 0;
    padding: 0;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button1 {
    color: #FFFFFF;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    margin: 0;
    padding: 10px 32px;
    text-align: center;
}

/*Main 2nd section*/

.main-text-ul{
    display: flex;
    justify-content: space-between;
}

.main-text{
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
}

.main-text-answer{
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}

/*Main 3nd section*/

.work-section{
    padding-top: 0;
}

.section-title{
    color: #212121;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 0 50px 0; 
}

.what-we-doing-ul{
    display: flex;
    margin-left: -40px;
    justify-content: space-between;
}

.what-we-doing-img{
    width: 370px;
    height: 294px;
    display: flex;
}

/*Main 4nd section */

.alt-bg{
    background-color: #F5F4FA;
}

.our-team-ul{
    display: flex;
    justify-content: space-between;
}

.photo-people{
    width: 270px;
    height: 260px;
}

/*Footer*/

.footer-section{
    background-color: #2F303A;
    align-items: baseline;
    padding: 60px 0;
}

.span-logo-footer{
    color: #FFFFFF;
}

.address{
    margin-top: 20px;
}

.footer-contacts{
    width: 231px;
    margin: 0;
}

.geolocation{
    color: #FFFFFF;
}